@model IEnumerable<TrashCollector.Models.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}
<h1>PickUp Trash Today</h1>

<table class="table table-bordered table-hover">
    <tr>
        <th>Customer Id</th>
        <th>Address</th>
        <th>City</th>
        <th>ZipCode</th>
        <th>Day of Week</th>
        <th></th>


    </tr>
    @foreach (var d in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(
               d.IdentityUserId,
               "CustomerProfile",
               "Employees",
               new
               { CustomerSchedulePU = d.IdentityUserId},
               null)
            </td>
            <td>@d.Address</td>
            <td>@d.City</td>
            <td>@d.ZipCode</td>
            
            <td>
                @Html.ActionLink(
               "Confirm",
               "Confirm",
               "Employees",
               new
               { CustomerSchedulePU = d.IdentityUserId},
               null
               )
            </td>
        </tr>
    }
</table>

