@model IEnumerable<TrashCollector.Models.CustomerSchedulePU>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Today's Pickups</h1>


<table class="table table-bordered  table-hover">
    <tr>
        <th>Customer Id </th>
        <th>Address </th>
        <th>City </th>
        <th>Zip Code</th>
        <th>Day Of Week</th>
        <th></th>

    </tr>
    @foreach (var d in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(
                         d.IdentityUserId,                                                 
                         "CustomerProfile",                                  
                         "Employees",                                                  
                            new
                                 { item = d.IdentityUserId },
                            null)
            </td>
            <td>@d.Address</td>
            <td>@d.City</td>
            <td>@d.ZipCode</td>
            <td>@d.DayOfWeek</td>
            <td>
                @Html.ActionLink(
                 "Confirm",                                                 
                 "Confirm",                                  
                 "Employees",                                                  
                    new
                         { item = d.IdentityUserId },
                    null                                                     
)
            </td>


        </tr>

    }
</table>